<h1>Booksell</h1>
<ul class="booksells">
<%= data.booksells.forEach((data)=>{ %>
<li class="booksells-item">
<img src="<%= data.imageURL %>" class="booksells-item-image">
<div class="booksells-item-name"><%= data.name %></div>
<small class="booksells-item-type"><%= data.type %></small>
<small class="booksells-item-price"><%= data.price %></small>
</li>
<%= }) %>
</ul>